<div class="container" click()="showing()">
    <div class="c1" >
        <input class="box1" type="text" placeholder="Take a Note..." style="height: 50px; width: 650px;">
        <div class="image">
            <img class="s-img" src="../../../assets/check_box_FILL0_wght400_GRAD200_opsz48.svg" alt=""
                style="width: 25px;">
            <img class="s-img" src="../../../assets/brush_FILL0_wght400_GRAD200_opsz48.svg" alt="" style="width: 25px;">
            <img class="s-img" src="../../../assets/image_FILL0_wght400_GRAD200_opsz48.svg" alt="" style="width: 25px;">
        </div>
    </div>

    <div class="c2" *ngIf="show">
        <input class="box2" type="text" placeholder="Title" style="height: 90px; width: 650px;">
        <div class="image1">
            <img class="s-img2" src="../../../assets/add_alert_FILL0_wght400_GRAD0_opsz48.svg" alt="" style="width:25px ;" >
            <img class="s-img2" src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz48.svg" alt=""style="width:25px ;">
            <img class="s-img2" src="../../../assets/palette_FILL0_wght400_GRAD0_opsz48.svg" alt=""style="width:25px ;">
            <img class="s-img2" src="../../../assets/image_FILL0_wght400_GRAD200_opsz48.svg" alt=""style="width:25px ;">
            <img class="s-img2" src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg" alt=""style="width:25px ;">
            <img class="s-img2" src="../../../assets/more_vert_FILL0_wght400_GRAD0_opsz48.svg" alt=""style="width:25px ;">
        </div>
    </div>
</div>